{% extends "base/base.html" %}
{% load static %}
{% comment %}
Haredará el contenido de base.html
{% endcomment %}
<title>{% block title %} Sistema de Oficios :: Archivo {% endblock %} </title>


{% block wrapper %}{% endblock %}

{% block login %}

<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-12">
        {% comment %} CARD {% endcomment %}
        <div class="card card-outline card-dark">
          <div class="card-header text-center">
            <img src={% static "base/img/csjsanta.png" %} class="img-fluid" alt="Perfil PJ">
          </div>
          <div class="card-body">
            <h1 class="font-weight-bold text-center mb-0 pb-0">INICIAR SESIÓN</h1>
            <h5 class="text-center mt-0 pt-0 font-weight-bold">Sistema de Mesa de Parte de Archivo </h5>

            <form method="post">
              {% csrf_token %}
              {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                      {% for error in form.non_field_errors %}
                          {{ error }}
                      {% endfor %}
                  </div>
              {% endif %}
              
              <div class="input-group mb-3">
                  <input type="text" class="form-control" id="id_username" name="username" placeholder="Ingresar Usuario">
                  <div class="input-group-append">
                      <div class="input-group-text">
                          <span class="fas fa-user"></span>
                      </div>
                  </div>
              </div>
          
              <div class="input-group mb-3">
                  <input type="password" class="form-control" id="id_password" name="password" placeholder="Contraseña">
                  <div class="input-group-append">
                      <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                      </div>
                  </div>
              </div>
          
              <div class="row">
                  <div class="col-4">
                      <button type="submit" class="btn btn-dark btn-block">Iniciar Sesión</button>
                  </div>
              </div>
          </form>
          
          </div>
          <!-- /.card-body -->
        </div>

      </div>
    </div>
  </div>
</body>
{% endblock %}