{% extends "base/base.html" %}
{% load static %}
<title>{% block title %} Presidencia :: Estadistica {% endblock %} </title>
{% block wrapper %}
<body class="hold-transition layout-top-nav">


    <div class="content-wrapper" style="margin-top:100px">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-12 mt-3 pb-0">
                        <h4 class="text-center font-weight-bold">CONTROL DE ESTADISTICA</h4>
                    </div>
                </div>


                <div class="row">
                    {% comment %} FORMATO DE ATENCIÓN {% endcomment %}
                    {% for dato in dato %}
                    <div class="col-lg-3 col-sm-6 mb-3">
                        <a href="{% url 'bases:grafica_por_instancia' dato.n_id_modulo %}">
                            <div class="card card-border-shadow-dark h-100">
                                <div class="card-body p-4">
                                <img src="{% static "base/img/Icon/judicial_n.png" %}" class="img-fluid w-25 mx-auto d-block">
                                <h5 class="pb-0 mb-0 text-center">{{dato.x_nombre}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
            
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- /.content -->
    </div>
    {% endblock %}