def grafica_por_instancia(request, modulo_id):
    # Obtén el módulo seleccionado
    modulo = get_object_or_404(mae_est_modulos, pk=modulo_id)
    
    # Año y mes actual
    now = datetime.now()
    year = now.year
    current_month = now.month
    
    # Determinar el mes anterior
    if current_month == 1:
        previous_month = 12
        year -= 1
    else:
        previous_month = current_month - 1

    # Filtrar las instancias relacionadas y los datos del mes anterior
    resumenes = mae_est_meta_resumenes.objects.filter(
        n_id_modulo=modulo,
        n_anio_est=year,
        n_mes_est=previous_month
    ).values(
        'n_instancia__x_nom_instancia',
        'x_situacion_carga',
        'x_niv_produc',
        'm_avan_meta'
    ).annotate(
        total_ingreso=Sum('m_t_ingreso'),
        total_resuelto=Sum('m_t_resuelto')
    ).order_by('n_instancia__x_nom_instancia')

    context = {
        "modulo": modulo,
        "resumenes": resumenes,
        "mes_anterior": previous_month,
        "anio_actual": year,
    }
    return render(request, 'bases/presidencia_gra_instancia.html', context)