{% extends "base/base.html" %}

{% block body_container %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
          <div class="card-header pb-1"><h4 class="mb-1 font-weight-bold">Cambiar Contraseña de {{user.x_app_paterno}} {{user.x_app_materno}} {{user.x_nombres}} </h4></div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="mb-3">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
              </div>
              <div class="mb-3">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
              </div>
              <button type="submit" class="btn btn-dark"> 
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-right:5px" width="15" viewBox="0 0 448 512"><path fill="currentColor" d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-242.7c0-17-6.7-33.3-18.7-45.3L352 50.7C340 38.7 323.7 32 306.7 32L64 32zm0 96c0-17.7 14.3-32 32-32l192 0c17.7 0 32 14.3 32 32l0 64c0 17.7-14.3 32-32 32L96 224c-17.7 0-32-14.3-32-32l0-64zM224 288a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                Actualizar Contraseña
              </button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}