    {% block datatable_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/datatables/dt/datatables.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'base/vendor/datatables/responsive/responsive.bootstrap5.css' %}" />
    <link rel="stylesheet" href="{% static 'base/vendor/datatables/checkboxes/datatables.checkboxes.css' %} "/>
    {% endblock  %}

    {% block select_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/bootstrap-select/bootstrap-select.css' %}" />
    <link rel="stylesheet" href="{% static 'base/vendor/select2/select2.css' %}" />
    <link rel="stylesheet" href="{% static 'base/vendor/form-validation/form-validation.css' %}" />
    {% endblock  %}

    {% block grafico_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/apex-charts/apex-charts.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock  %}

    {% block stepper_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/stepper/stepper.css' %}" />
    {% endblock  %}

    {% block alertas_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/sweetalert2/sweetalert2.css'%}" />
    {% endblock  %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'base/vendor/fonts/tabler-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'base/vendor/fonts/flag-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'base/css/cards-advance.css' %}" />
    {% endblock  %}

    {% block swiper %}
    <link rel="stylesheet" href="{% static 'base/vendor/swiper/swiper.css' %}" />
    {% endblock  %}

    {% block date_range_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    {% endblock %}