{% extends "base/base.html" %}
{% load static %}
{% block title %} Detalle Escala :: Estadistica {% endblock %}
{% block title_nav %} Detalle de Escala {% endblock  %}

{% block datatable_css %}
<link rel="stylesheet" href="{% static 'base/vendor/datatables/dt/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/datatables/responsive/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/datatables/checkboxes/datatables.checkboxes.css' %} "/>
{% endblock  %}

{% block body_container %}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-lg-12 mb-2">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-12">
                                <div class="card-body text-nowrap">
                                    <h2 class="card-title mb-0 font-weight-bold">Escalas</h2>
                                    <p class="mb-2">Sistema de Estadistica / Listar Escalas</p>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Users List Table -->
        </div>

        <div class="col-12">
            <div class="card mt-3">
                <div class="card-datatable table-responsive">
                <table class="datatables-users table" id="tableUsuario">
                    <thead class="border-top bg-dark">
                    <tr>
                        <th class="text-center text-white" style="font-size:14px">#</th>
                        <th class="text-center text-white" style="font-size:14px">MES</th>
                        <th class="text-center text-white" style="font-size:14px">PORCENTAJE</th>
                    </tr>
                    </thead>
                    {% for dato in detalle %}
                        <tr class="text-center">
                            <td>{{forloop.counter}}</td>
                            <td>{{dato.x_mes}}</td>
                            <td>{{dato.m_porcentaje}}%</td>
                            
                        </tr>
                    <tbody>

                    {% endfor %}
                </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block datatable %}
<script>
    $(document).ready(function () {
        $('#tableUsuario').DataTable({
            "pageLength": 25,
            "lengthMenu": [[25, 40, 50, 100, -1], [25, 40, 50, 100, "Todos"]],
            autoWidth: false,
            responsive: true,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });
    });
</script>
{% endblock  %}

{% block datatable_js %}
<script src="{% static 'base/vendor/datatables5/datatables-bootstrap5.js' %}"></script>
{% endblock %}