es{% extends "base/base.html" %}
{% load static %}

{% block title %}
INICIO :: CORTE DEL SANTA
{% endblock  %}

{% block body_container %}
<section class="content">
    <div class="container-xxl flex-grow-1 container-p-y pt-2">

        {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
        {% comment%} =============================================
        PRESIDENTE - PANEL DE CONTROL
        ========================================== {% endcomment %}
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center">
                        <img
                            src="{% static "base/img/Icon/grafico_n.png" %}"
                            alt="user image"
                            class=" rounded p-3" width="105" height="100" />
                        <div class="flex-grow-1 ">
                            <div class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4">
                                <div class="user-profile-info">
                                    <h4 class="mb-0 mt-lg-6">Estadística por Módulos</h4>
                                    <h6> <a href="{% url "bases:home" %}">Tablero de Control </a><span> <a href="{% url "est:estadistica_menu" %}">/ Estadística </a></span><span>/ Módulos </span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row ">
            {% for dato in dato %} 
                <div class="col-lg-3 col-sm-6 mb-3">
                <a href="{% url 'est:estadistica_modulo_grafica' dato.n_id_modulo %}"  class="text-dark">
                    <div class="card card-border-shadow-dark h-100">
                        <div class="card-body p-4">
                        <img src="{% static "base/img/Icon/judicial_n.png" %}" class="img-fluid w-25 mx-auto d-block">
                            <h5 class="mb-0 text-center">{{dato.x_nombre}}</h5>
                        </div>
                    </div>
                </a>
                </div>     
            {% endfor %}
        </div>
      {% endif %}
</section>
{% endblock  %}

{% block datatable %}
{% endblock  %}