es{% extends "base/base.html" %}
{% load static %}

{% block title %}
INICIO :: CORTE DEL SANTA
{% endblock  %}

{% block nav %}
    {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
    <nav style="padding: 40px 10px; height: 70px;" class="layout-navbar container-xxl navbar py-4 navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-md"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <div class="navbar-nav align-items-center ">
                <div class="nav-item navbar-search-wrapper mb-0">
                    <img
                    src="{% static "base/img/Icon/grafico_n.png" %}"
                    alt="user image"
                    class=" rounded p-3" width="75" height="70" />
                    
                </div>
                <h2 class="d-none d-md-inline-block font-weight-bold pt-4">{{modulo.x_nombre}} <br></h2>
            </div>

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a
                        class="nav-link dropdown-toggle hide-arrow p-0"
                        href=""
                        data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                        <img src="{% static "base/img/Icon/user.png" %}" alt class="rounded-circle" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                        <a class="dropdown-item mt-0" >
                            <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-2">
                                <div class="avatar avatar-online">
                                <img src="{% static "base/img/Icon/user.png" %}" alt="" class="rounded-circle" />
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-0">{{user.x_nombres}} {{user.x_app_paterno}}</h6>
                            </div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                        </li>
                        <li>
                        <a class="dropdown-item" href="{% url "bases:cambiar_password" %}">
                            <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Cambiar Clave</span>
                        </a>
                        </li>
                        <li>
                        <div class="d-grid px-2 pt-2 pb-1">
                            <a class="btn btn-sm btn-danger d-flex" href="{% url "bases:logout" %}">
                            <small class="align-middle">Cerrar Sesión</small>
                            <i class="ti ti-logout ms-2 ti-14px"></i>
                            </a>
                        </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}
{% endblock  %}

{% block body_container %}
<section class="content">
    <div class="container-xxl flex-grow-1 container-p-y pt-2">
        {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
            <div clss="row">
                <div class="col-12">
                    <div class="nav-align-top nav-tabs-shadow mb-6">
                        {% comment "" %} =======================================
                        =============== CABECERAS DEL PANEL ====================
                        ======================================= {% endcomment %}
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            {% comment "" %} =======================================
                            ================== GRAFICO GENERAL =====================
                            ======================================= {% endcomment %}
                            <li class="nav-item">
                                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-home" aria-controls="navs-justified-home" aria-selected="true">
                                    <span class="d-none d-sm-block"> Grafico General</span>
                                </button>
                            </li>

                            {% comment "" %} =======================================
                            =========== AVANCE DE META POR ORG. JURISD. ============
                            ======================================= {% endcomment %}
                            <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false">
                                    <span class="d-none d-sm-block">Avance de Meta por Org. Jurisdiccional</span>
                                </button>
                            </li>

                            {% comment "" %} =======================================
                            ======== EXPEDIENTE INGRESADOS VS RESUELTOS ============
                            ======================================= {% endcomment %}
                            <li class="nav-item">
                                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-messages" aria-controls="navs-justified-messages" aria-selected="false">
                                    <span class="d-none d-sm-block">
                                        Ingresos VS Resueltos en Trámite
                                    </span>
                                </button>
                            </li>
                        </ul>

                        {% comment "" %} =======================================
                        ================= CUERPO DEL PANEL =====================
                        ======================================= {% endcomment %}
                        <div class="tab-content pt-2">
                            {% comment "" %} =======================================
                            ======= CUERPO 01: GRAFICO POR PORCENTAJE ==============
                            ======================================= {% endcomment %}
                            <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                                <div class="col-lg-12 col-12">
                                {% for jurisdiccion, instancias in agrupados.items %}
                                    <h3 class="text-center mt-5 mb-0 font-weight-bold">RANKING DE {{ jurisdiccion }}</h3>
                                    <div class="text-center mt-0 mb-3"><span class="font-weight-bold">Información:</span> De 01 de Enero 2025 hasta {{ fecha_modificacion }}</div>
                                    <canvas  id="graficoBarras_{{ forloop.counter }}"></canvas>

                                    <script id="data_{{ forloop.counter }}" type="application/json">
                                        {{ instancias|safe }}
                                </script>
                                    <script>
                                    document.addEventListener("DOMContentLoaded", function() {    
                                        const labels_{{ forloop.counter }} = {{ instancias|safe }}.map(i => i.n_instancia__x_nom_instancia);
                                        const x_corto_{{ forloop.counter }} = {{ instancias|safe }}.map(i => i.n_instancia__x_corto); // Extraer x_corto
                                        const nombre_instancia_{{ forloop.counter }} = {{ instancias|safe }}.map(i => i.n_instancia__x_nom_instancia);
                                        const avance_{{ forloop.counter }} = {{ instancias|safe }}.map(i => parseFloat(i.m_avan_meta));
                                        const ideal_avance_{{ forloop.counter }} = {{ instancias|safe }}.map(i => parseFloat(i.m_ideal_avan_meta));
                                
                                        // Generar colores dinámicos
                                        const backgroundColors_{{ forloop.counter }} = avance_{{ forloop.counter }}.map((valor, index) => {
                                            return valor < ideal_avance_{{ forloop.counter }}[index] 
                                                ? 'rgba(255, 99, 132, 0.5)' // Rojo si está por debajo de la meta
                                                : 'rgba(75, 192, 192, 0.5)'; // Verde si cumple o supera la meta
                                        });

                                        // Registrar el plugin antes de usarlo
                                        Chart.register(ChartDataLabels);
                            
                                        // Obtener el contexto del canvas
                                        const ctx_{{ forloop.counter }} = document.getElementById('graficoBarras_{{ forloop.counter }}').getContext('2d');
                                        new Chart(ctx_{{ forloop.counter }}, {
                                            type: 'bar',
                                            data: {
                                                labels: labels_{{ forloop.counter }},
                                                datasets: [{
                                                    label: '% Real de Avance de Meta',
                                                    data: avance_{{ forloop.counter }},
                                                    backgroundColor: backgroundColors_{{ forloop.counter }},
                                                    borderColor: backgroundColors_{{ forloop.counter }}.map(color => color.replace('0.5', '1')),
                                                    borderWidth: 1
                                                }]
                                            },
                                            options: {
                                                indexAxis: 'y',
                                                responsive: true,
                                                plugins: {
                                                    legend: {
                                                        labels: {
                                                            generateLabels: function(chart) {
                                                                let original = Chart.defaults.plugins.legend.labels.generateLabels(chart);
                                                                original.push({
                                                                    text: '% Ideal de Avance de Meta: 36%',
                                                                    fillStyle: 'rgba(24, 85, 216, 0.4)',
                                                                    strokeStyle: 'rgba(24, 85, 216, 0.4)',
                                                                    lineWidth: 1,
                                                                    hidden: false
                                                                });
                                                                return original;
                                                            }
                                                        }
                                                    },
                                                    datalabels: {
                                                        anchor: 'center',  // Ancla en el extremo derecho
                                                        align: 'center',  // Centra el texto dentro de la barra
                                                        formatter: (value) => `${value}%`,
                                                        color: 'black',  // Color del texto
                                                        font: {
                                                            size: 14,
                                                            weight: 'bold',
                                                        },
                                                        clip: false // Evita que el texto se recorte si la barra es pequeña
                                                    },
                                                    tooltip: {
                                                        callbacks: {
                                                            label: function(tooltipItem) {
                                                                let index = tooltipItem.dataIndex;
                                                                let corto = x_corto_{{ forloop.counter }}[index];
                                                                let avanceReal = avance_{{ forloop.counter }}[index];
                                                                let ideal = ideal_avance_{{ forloop.counter }}[index];
                                                                let nombre_instancia = nombre_instancia_{{ forloop.counter }}[index];
                                                                return [
                                                                `🏢 ${nombre_instancia}`,    
                                                                `〽️ Avance Real: ${avanceReal}%`,
                                                                `📊 Meta Ideal: ${ideal}%`
                                                                ];
                                                            }
                                                        }
                                                    },
                                                    annotation: {
                                                        annotations: {
                                                            line1: {
                                                                type: 'line',
                                                                mode: 'vertical',
                                                                scaleID: 'x',
                                                                value: 36, // Posición en el eje X (18%)
                                                                borderColor: 'rgba(24, 85, 216, 0.4)',
                                                                borderWidth: 2,
                                                                borderDash: [6, 6],
                                                                label: {
                                                                    content: '36%',
                                                                    enabled: true,
                                                                    position: 'top',
                                                                    backgroundColor: 'rgba(34, 25, 167, 0.7)',
                                                                    color: 'white',
                                                                    font: {
                                                                        size: 12,
                                                                        weight: 'bold'
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                scales: {
                                                    x: {
                                                        beginAtZero: true,
                                                        max: 100,
                                                        ticks: {
                                                            callback: (value) => `${value}%`
                                                        }
                                                    },
                                                    y: {
                                                        barThickness: 0.5, // Define un tamaño fijo para todas las barras
                                                        categoryPercentage: 0.5, // Ajusta el espacio entre barras
                                                        barPercentage: 1.0 // Asegura que las barras ocupen el espacio definido
                                                    }
                                                }
                                            },
                                            plugins: [ChartDataLabels] // Agregar el plugin
                                        });
                                    });
                                    </script>
                                {% endfor %}
                                </div>
                            </div>
                            
                            {% comment "" %} =======================================
                            ======= CUERPO 02: AVANCE DE META ORG. JURISD. =========
                            ======================================= {% endcomment %}
                            <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                                <div class="col-lg-12 col-12">
                                    <div class="row">
                                        {% for org_jurisd, resumenes in agrupados.items %}
                                        <div class="col-12 mt-3">
                                            <h4 class="text-center mb-0 font-weight-bold">{{ org_jurisd }}</h4>
                                            <div class="text-center mt-0 mb-3"><span class="font-weight-bold">Información:</span> De 01 de Enero 2025 hasta {{ fecha_modificacion }}</div>
                                        </div>
                                        {% for resumen in resumenes %}
                                            <div class="col-lg-6 col-12">
                                                <div class="card mb-2">
                                                    <div class="card-header pb-1">
                                                        <h6 class="mb-1">{{ resumen.n_instancia__x_nom_instancia }}</h6>
                                                    </div>
                                                    <div class="card-body d-flex justify-content-center align-items-center p-4 pt-2">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <ul class="p-0 m-0">
                                                                    <li class="d-flex gap-4 align-items-center  pb-1 mt-1 pt-1">
                                                                        <div class="badge rounded bg-label-dark p-1_5"><i class="ti ti-target-arrow ti-md"></i></div>
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Meta Preliminar</h6>
                                                                            <h6 class="text-dark mb-1">{{ resumen.m_meta_preliminar }}</h6>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-flex gap-4 align-items-center pb-1">
                                                                        <div class="badge rounded bg-label-dark p-1_5">
                                                                            <i class="ti ti-file-check ti-md"></i>
                                                                        </div>
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Expedientes Resueltos</h6>
                                                                            <h6 class="text-dark mb-1">{{ resumen.total_resuelto }}</h6>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-flex gap-4 align-items-center pb-1">
                                                                        <div class="badge rounded bg-label-dark p-1_5"><i class="ti ti-file ti-md"></i></div>
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Expedientes Ingresados</h6>
                                                                            <h6 class="text-dark mb-1">{{ resumen.total_ingreso }}</h6>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-flex gap-4 align-items-center pb-1">
                                                                        <div class="badge rounded bg-label-dark p-1_5"><i class="ti ti-books ti-md"></i></div>
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Carga Inicial</h6>
                                                                            <h6 class="text-dark mb-1">{{ resumen.n_carg_procesal_ini }}</h6>
                                                                        </div>
                                                                    </li>
                                                                    <li class="d-flex gap-4 align-items-center pb-1">
                                                                        <div class="badge rounded bg-label-dark p-1_5 bg-success text-white"><i class="ti ti-golf ti-md"></i></div>
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Meta Ideal</h6>
                                                                            <h6 class="text-dark mb-1">{{ resumen.m_ideal_avan_meta }}%</h6>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-lg-6 d-flex justify-content-center text-center">
                                                                <div class="progress-item text-center">
                                                                    <li class="d-flex gap-4 d-flex justify-content-center align-items-center">
                                                                        <div>
                                                                            <h6 class="mb-0 text-nowrap">Nivel Produccion</h6>
                                                                            {% if resumen.x_niv_produc == "MUY BUENO" %}
                                                                            <span class="badge rounded-pill bg-success">{{ resumen.x_niv_produc }}</span>
                                                                            {% elif resumen.x_niv_produc == "BUENO" %}
                                                                            <span class="badge rounded-pill bg-warning">{{ resumen.x_niv_produc }}</span>
                                                                            {% else %}
                                                                            <span class="badge rounded-pill bg-danger">{{ resumen.x_niv_produc }}</span>
                                                                            {% endif %}
                                                                        </div>
                                                                    </li>
                                                                    <canvas id="progress-{{ forloop.counter }}" 
                                                                            class="progress-circle" 
                                                                            width="180" 
                                                                            height="180"
                                                                            data-percentage="{{ resumen.m_avan_meta }}"
                                                                            data-nivel-produc="{{ resumen.x_niv_produc }}">
                                                                    </canvas>
                                                                    <h5 class="text-center m-0 p-0">{{ resumen.m_avan_meta }}%</h5>
                                                                    <span class="text-center m-0 p-0">PORCENTAJE DE AVANCE DE META</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    
                                    
                                    </div>
                                </div>
                            </div>

                            {% comment "" %} =======================================
                            ===== CUERPO 03: EXP INGRESADOS VS EXP RESUELTOS =======
                            ======================================= {% endcomment %}
                            <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                                <div class="col-lg-12 col-12">
                                    {% for jurisdiccion, instancias in agrupados.items %}
                                    <h3 class="text-center font-weight-bold mb-0">{{ jurisdiccion }}</h3>
                                    <div class="text-center mt-0 mb-3"><span class="font-weight-bold">Información:</span> De 01 de Enero 2025 hasta {{ fecha_modificacion }}</div>
                                    <canvas id="graficaHorizontal_{{ forloop.counter0 }}"></canvas>
                                    <script id="data_{{ forloop.counter0 }}" type="application/json">
                                        {{ instancias|safe }}
                                    </script>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function () {
                                            const nombresInstancias_{{ forloop.counter0 }} = {{ instancias|safe }};
                                            const datosIngresos_{{ forloop.counter0 }} = nombresInstancias_{{ forloop.counter0 }}.map(i => parseFloat(i.total_ingreso));
                                            const datosResueltos_{{ forloop.counter0 }} = nombresInstancias_{{ forloop.counter0 }}.map(i => parseFloat(i.total_resuelto));
                                            const labels_{{ forloop.counter0 }} = nombresInstancias_{{ forloop.counter0 }}.map(i => i.n_instancia__x_nom_instancia);
                                
                                            const ctx_{{ forloop.counter0 }} = document.getElementById('graficaHorizontal_{{ forloop.counter0 }}').getContext('2d');
                                
                                            const myChart_{{ forloop.counter0 }} = new Chart(ctx_{{ forloop.counter0 }}, {
                                                type: 'bar',
                                                data: {
                                                    labels: labels_{{ forloop.counter0 }},
                                                    datasets: [
                                                        {
                                                            label: 'Expedientes Ingresos a Trámite',
                                                            data: datosIngresos_{{ forloop.counter0 }},
                                                            backgroundColor: 'rgba(250,127,94,0.3)',
                                                            borderColor: 'rgba(250,127,94,0.8)',
                                                            borderWidth: 1,
                                                        },
                                                        {
                                                            label: 'Expedientes Resueltos',
                                                            data: datosResueltos_{{ forloop.counter0 }},
                                                            backgroundColor: '#74e9f8',
                                                            borderColor: 'rgba(78,222,241,0.8)',
                                                            borderWidth: 1,
                                                        },
                                                    ],
                                                },
                                                options: {
                                                    indexAxis: 'y', // Barras horizontales
                                                    responsive: true,
                                                    plugins: {
                                                        legend: {
                                                            position: 'top',
                                                        },
                                                        datalabels: {
                                                            anchor: 'center',
                                                            align: 'center',
                                                            formatter: (value) => value,
                                                            color: 'dark',
                                                            font: {
                                                                size: 12,
                                                                weight: 'bold',
                                                            },
                                                        },
                                                    },
                                                    scales: {
                                                        x: {
                                                            beginAtZero: true,
                                                        },
                                                        y: {
                                                            ticks: {
                                                                autoSkip: false, // Muestra todas las etiquetas
                                                            },
                                                            categoryPercentage: 0.5, // Reduce el espacio asignado a cada categoría
                                                            barPercentage: 0.3, // Hace las barras más delgadas dentro de la categoría
                                                            maxBarThickness: 10, // Establece un tamaño máximo para las barras (ajústalo según necesidad)
                                                        }
                                                    },
                                                    onClick: (e, activeElements) => {
                                                        if (activeElements.length > 0) {
                                                            const index = activeElements[0].index;
                                                            const instancia = myChart_{{ forloop.counter0 }}.data.labels[index];
                                                            const ingresos = myChart_{{ forloop.counter0 }}.data.datasets[0].data[index];
                                                            const resueltos = myChart_{{ forloop.counter0 }}.data.datasets[1].data[index];
                                
                                                            // Muestra el modal con los datos
                                                            document.getElementById('detalleInstancia').innerHTML = `
                                                                <div class="row">
                                                                    <div class="col-lg-12 col-12">
                                                                        <h3 class="text-center font-weight-bold">${instancia}</h3>
                                                                    </div>
                                                                    <div class="col-lg-6 col-12">
                                                                        <div class="card card-dark card-outline d-flex align-items-center justify-content-center text-center">
                                                                            <div class="card-body position-relative">
                                                                                <h1>${ingresos}</h1>
                                                                                <h5 class="font-weight-bold text-center">EXPEDIENTES INGRESADOS EN TRÁMITE</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                
                                                                    <div class="col-lg-6 col-12">
                                                                        <div class="card card-dark card-outline d-flex align-items-center justify-content-center text-center">
                                                                            <div class="card-body position-relative">
                                                                                <h1>${resueltos}</h1>
                                                                                <h5 class="font-weight-bold text-center">EXPEDIENTES RESUELTOS EN TRÁMITE</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            `;
                                
                                                            const modal = new bootstrap.Modal(document.getElementById('modalInstancia'));
                                                            modal.show();
                                                        }
                                                    },
                                                },
                                                plugins: [ChartDataLabels],
                                            });
                                        });
                                    </script>
                                {% endfor %}
                                
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block datatable %}
{% endblock  %}

{% block script %}
<script>
    function mostrarDiaAnterior() {
        const ahora = new Date();  // Obtener la fecha actual
        const diaAnterior = new Date(ahora);  // Copiar la fecha actual
        diaAnterior.setDate(ahora.getDate() - 1);  // Restar un día

        // Formatear la fecha en español
        const fechaFormateada = diaAnterior.toLocaleDateString("es-ES", {

            year: "numeric",
            month: "long",    // Mes en texto
            day: "numeric",
        });

        // Mostrar la fecha en el elemento con id 'fecha_anterior'
        document.getElementById('fecha_anterior').textContent = fechaFormateada;
    }

    // Llamar a la función cuando la página cargue
    window.onload = mostrarDiaAnterior;


    /** =============================================================
    ======================= GRÁFICO CIRCULAR ========================
    ============================================================== */
    document.addEventListener("DOMContentLoaded", function () {
        const canvases = document.querySelectorAll(".progress-circle");
    
        canvases.forEach((canvas) => {
            const ctx = canvas.getContext("2d");
            const percentage = parseFloat(canvas.getAttribute("data-percentage")); // Ahora sí obtiene el porcentaje
            const x_nivel_produc = canvas.getAttribute("data-nivel-produc"); // Obtiene el nivel de producción
    
            if (isNaN(percentage)) return; // Si no es un número, no dibujar
    
            const radius = canvas.width / 2;
            const lineWidth = 15;
            const center = radius;
    
            ctx.lineWidth = lineWidth;
    
            // Dibuja el fondo del círculo
            ctx.beginPath();
            ctx.arc(center, center, radius - lineWidth, 0, 2 * Math.PI);
            ctx.strokeStyle = "#e6e6e6";
            ctx.stroke();
    
            // Determina el color del progreso
            let progressColor;
            switch (x_nivel_produc) {
                case "MUY BUENO":
                    progressColor = "#28a745"; // Verde
                    break;
                case "BUENO":
                    progressColor = "#ffc107"; // Amarillo
                    break;
                case "BAJO":
                    progressColor = "#f44336"; // Rojo
                    break;
                default:
                    progressColor = "#6c757d"; // Gris
            }
    
            // Dibuja el progreso
            const startAngle = -Math.PI / 2;
            const endAngle = startAngle + (percentage / 100) * 2 * Math.PI;
    
            ctx.beginPath();
            ctx.arc(center, center, radius - lineWidth, startAngle, endAngle);
            ctx.strokeStyle = progressColor;
            ctx.lineCap = "round";
            ctx.stroke();
        });
    });
    

    

</script>

{% endblock %}