{% extends "base/base.html" %}
{% load static %}

{% block title %} Seguimiento Estadístico Jurisdiccional :: Estadistica {% endblock %}
{% block title_nav %} Seguimiento Estadístico Jurisdiccional {% endblock  %}

{% block body_container %}
<section class="content">
    <div class="container-xxl flex-grow-1 container-p-y">

    {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
      <div class="row">
        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:estadistica_modulo" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                    <img src="{% static "base/img/Svg/modulo-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/modulo-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/modulo-negro.svg" %}'">
                        <h5 class="mb-0 text-center">Por Módulos</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:estadistica_organo" %}">
            <div class="card card-border-shadow-dark h-100">
                <div class="card-body p-4">
                <img src="{% static "base/img/Svg/organo-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/organo-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/organo-negro.svg" %}'">
                    <h5 class="mb-0 text-center">Por Órgano Jurisdiccional</h5>
                </div>
            </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:comparar_instancias" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                        <img src="{% static "base/img/Svg/vs-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/vs-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/vs-negro.svg" %}'">
                        <h5 class="mb-0 text-center">Comparativo Órg. Jurisdic.</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:power_estadistica" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                        <img src="{% static "base/img/Svg/dashboard-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/dashboard-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/dashboard-negro.svg" %}'">
                        <h5 class="mb-0 text-center">Dashbord Estadistica</h5>
                    </div>
                </div>
            </a>
        </div>
    {% endif %}

    {% if perms.est.list_mae_est_modulos %}
        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:power_jornada" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                        <img src="{% static "base/img/Svg/dashboard-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/dashboard-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/dashboard-negro.svg" %}'">
                        <h5 class="mb-0 text-center">Jornada Extraordinaria</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:power_nepena" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                        <img src="{% static "base/img/Svg/dashboard-negro.svg" %}" class="img-fluid mx-auto d-block" onmouseover="this.src='{% static "base/img/Svg/dashboard-color.svg" %}'" onmouseout="this.src='{% static "base/img/Svg/dashboard-negro.svg" %}'">
                        <h5 class="mb-0 text-center">Dashboard Juzgado de Nepeña</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-sm-6 mb-3">
            <a href="{% url "est:power_nepena" %}">
                <div class="card card-border-shadow-dark h-100">
                    <div class="card-body p-4">
                        <img src="{% static "base/img/Icon/dashboard_n.png" %}" class="img-fluid w-25 mx-auto d-block">
                        <h5 class="mb-0 text-center">Listado de Jueces</h5>
                    </div>
                </div>
            </a>
        </div>
      </div>
      {% endif %}
</section>
{% endblock  %}

{% block datatable %}
{% endblock  %}