{% extends "base/base.html" %}
{% load static %}

{% block title %}
INICIO :: CORTE DEL SANTA
{% endblock  %}

{% block nav %}
    {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
    <nav style="padding: 40px 10px; height: 70px;" class="layout-navbar container-xxl navbar py-4 navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="ti ti-menu-2 ti-md"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <div class="navbar-nav align-items-center ">
                <div class="nav-item navbar-search-wrapper mb-0">
                    <img
                    src="{% static "base/img/Icon/grafico_n.png" %}"
                    alt="user image"
                    class=" rounded p-3" width="75" height="70" />
                    
                </div>
                <h2 class="d-none d-md-inline-block font-weight-bold pt-4">Comparativo de Juzgados Jurisdicionales <br></h2>
            </div>

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a
                        class="nav-link dropdown-toggle hide-arrow p-0"
                        href=""
                        data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                        <img src="{% static "base/img/Icon/user.png" %}" alt class="rounded-circle" />
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                        <a class="dropdown-item mt-0" >
                            <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-2">
                                <div class="avatar avatar-online">
                                <img src="{% static "base/img/Icon/user.png" %}" alt="" class="rounded-circle" />
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-0">{{user.x_nombres}} {{user.x_app_paterno}}</h6>
                            </div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <div class="dropdown-divider my-1 mx-n2"></div>
                        </li>
                        <li>
                        <a class="dropdown-item" href="{% url "bases:cambiar_password" %}">
                            <i class="ti ti-settings me-3 ti-md"></i><span class="align-middle">Cambiar Clave</span>
                        </a>
                        </li>
                        <li>
                        <div class="d-grid px-2 pt-2 pb-1">
                            <a class="btn btn-sm btn-danger d-flex" href="{% url "bases:logout" %}">
                            <small class="align-middle">Cerrar Sesión</small>
                            <i class="ti ti-logout ms-2 ti-14px"></i>
                            </a>
                        </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}
{% endblock  %}


{% block body_container %}
<style>
    body {
        font-family: 'Segoe UI', sans-serif;
        background-color: #f4f6fc;
        margin: 0;
        padding: 20px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .card {
        flex: 1;
        padding: 20px;
        border-radius: 15px;
        background: white;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .description {
        text-align: center;
        font-size: 14px;
        margin-bottom: 20px;
        color: #666;
    }

    .bar-label {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 14px;
    }

    .bar-container {
        background-color: #eee;
        border-radius: 20px;
        overflow: hidden;
        height: 20px;
        margin-top: 5px;
    }

    .bar-red {
        background: linear-gradient(to right, #ff4e50, #f9d423);
        height: 100%;
    }

    .bar-blue {
        background: linear-gradient(to right, #24c6dc, #514a9d);
        height: 100%;
    }

    .bar-green {
        height: 100%;
        background: linear-gradient(to right, #2ecc71,rgb(6, 185, 80));
    }

    .bar-yellow {
        height: 100%;
        background-color: #f1c40f;
    }

    .versus-label {
        width: 100px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

    .versus-section {
        display: flex;
        justify-content: space-around;
        margin-top: 3px;
    }

    .option-label {
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
    }
</style>

<div class="container-xxl flex-grow-1 container-p-y pt-3">
    {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}
        <div class="row ">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-body pt-1 pb-1">
                        <form method="post">
                            {% csrf_token %}
                            <label for="organo" class="font-weight-bold">Órgano Jurisdiccional:</label>
                            <select id="organo" class="form-control select2" name="organo">
                                <option value="">--Seleccione--</option>
                                {% for org in organos %}
                                    <option  value="{{ org.c_org_jurisd }}">{{ org.x_nom_org_jurisd }}</option>
                                {% endfor %}
                            </select>
                        
                            <div class="row">
                                <div class="col-md-6 mt-2">
                                    <label for="instancia_1" class="font-weight-bold">Organo Jurisddicional 01:</label>
                                    <select id="instancia_1" class="form-control select2" name="instancia_1"></select>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <label for="instancia_2" class="font-weight-bold">Organo Jurisddicional 02 :</label>
                                    <select id="instancia_2" class="form-control select2" name="instancia_2"></select>
                                </div>

                                <div class="col-md-12 mt-2">
                                    <button type="submit" class="btn btn-dark">Comparar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-12">
                {% if resumen1 and resumen2 %}
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 mb-3">
                            <div class="card">
                                <div class="title">{{ instancia_1.x_nom_instancia }}</div>
                                <div class="description">Resumen estadístico</div>
                                
                                {% with resumen1 as r %}
                                        <ul class="p-0 m-0">
                                            <li class="mb-6 d-flex justify-content-between align-items-center">
                                            <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file ti-md"></i></div>
                                            <div class="d-flex justify-content-between w-100 flex-wrap">
                                                <h6 class="mb-0 ms-4">Expedientes Totales Ingresados</h6>
                                                <div class="d-flex">
                                                <p class="mb-0">{{ r.m_t_ingreso }}</p>
                                                </div>
                                            </div>
                                            </li>

                                            <li class="mb-6 d-flex justify-content-between align-items-center">
                                                <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file-check ti-md"></i></div>
                                                <div class="d-flex justify-content-between w-100 flex-wrap">
                                                <h6 class="mb-0 ms-4">Expedientes Totales Resueltos</h6>
                                                <div class="d-flex">
                                                    <p class="mb-0">{{ r.m_t_resuelto }}</p>
                                                </div>
                                                </div>
                                            </li>

                                            <li class="mb-6 d-flex justify-content-between align-items-center">
                                                <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-books ti-md"></i></div>
                                                <div class="d-flex justify-content-between w-100 flex-wrap">
                                                <h6 class="mb-0 ms-4">Carga Procesal Inicial</h6>
                                                <div class="d-flex">
                                                    <p class="mb-0">{{ r.n_carg_procesal_ini }}</p>
                                                </div>
                                                </div>
                                            </li>

                                            <li class="mb-6 d-flex justify-content-between align-items-center">
                                                <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-target-arrow ti-md"></i></div>
                                                <div class="d-flex justify-content-between w-100 flex-wrap">
                                                <h6 class="mb-0 ms-4">Meta Proyectada</h6>
                                                <div class="d-flex">
                                                    <p class="mb-0">{{ r.m_meta_preliminar }}</p>
                                                </div>
                                                </div>
                                            </li>
                                        </ul>

                                    {% with r.m_avan_meta|stringformat:"0.2f"|cut:"," as meta_valor %}
                                        <div class="bar-label">
                                            <h5 class="mb-0 pb-0">Avance de Meta</h5>
                                            <h5 class="mb-0 pb-0">{{ meta_valor }}%</h5>
                                        </div>
                                        <div class="bar-container">
                                            <div class="bar-blue" style="width:{{ meta_valor }}%"></div>
                                        </div>
                                    {% endwith %}

                                    <div class="bar-label">
                                        <h5 class="mb-0 pb-0">Situación de la Carga en Trámite</h5>
                                        <h5 class="mb-0 pb-0">{{ r.x_situacion_carga }}</h5>
                                    </div>

                                    <div class="bar-container">
                                        {% if r.x_situacion_carga == "ESTANDAR" %}
                                            <div class="bar-yellow" style="width:50%"></div>
                                        {% elif r.x_situacion_carga == "SUBCARGA" %}
                                            <div class="bar-green" style="width:100%"></div>
                                        {% elif r.x_situacion_carga == "SOBRECARGA" %}
                                            <div class="bar-red" style="width:25%"></div>
                                        {% endif %}
                                    </div>

                                    <div class="bar-label">
                                        <h5 class="mb-0 pb-0">Nivel de Producción</h5>
                                        <h5 class="mb-0 pb-0">{{ r.x_niv_produc }}</h5>
                                    </div>

                                    <div class="bar-container">
                                        {% if r.x_niv_produc == "BUENO" %}
                                            <div class="bar-yellow" style="width:50%"></div>
                                        {% elif r.x_niv_produc == "MUY BUENO" %}
                                            <div class="bar-green" style="width:100%"></div>
                                        {% elif r.x_niv_produc == "BAJO" %}
                                            <div class="bar-red" style="width:25%"></div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>



                        <div class="col-xl-6 col-lg-6 col-md-12">
                            <div class="card">
                                <div class="title">{{ instancia_2.x_nom_instancia }}</div>
                                <div class="description">Resumen estadístico</div>

                                {% with resumen2 as r %}

                                <ul class="p-0 m-0">
                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file ti-md"></i></div>
                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                        <h6 class="mb-0 ms-4">Expedientes Totales Ingresados</h6>
                                        <div class="d-flex">
                                        <p class="mb-0">{{ r.m_t_ingreso }}</p>
                                        </div>
                                    </div>
                                    </li>

                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                        <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file-check ti-md"></i></div>
                                        <div class="d-flex justify-content-between w-100 flex-wrap">
                                        <h6 class="mb-0 ms-4">Expedientes Totales Resueltos</h6>
                                        <div class="d-flex">
                                            <p class="mb-0">{{ r.m_t_resuelto }}</p>
                                        </div>
                                        </div>
                                    </li>

                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                        <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-books ti-md"></i></div>
                                        <div class="d-flex justify-content-between w-100 flex-wrap">
                                        <h6 class="mb-0 ms-4">Carga Procesal Inicial</h6>
                                        <div class="d-flex">
                                            <p class="mb-0">{{ r.n_carg_procesal_ini }}</p>
                                        </div>
                                        </div>
                                    </li>

                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                        <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-target-arrow ti-md"></i></div>
                                        <div class="d-flex justify-content-between w-100 flex-wrap">
                                        <h6 class="mb-0 ms-4">Meta Proyectada</h6>
                                        <div class="d-flex">
                                            <p class="mb-0">{{ r.m_meta_preliminar }}</p>
                                        </div>
                                        </div>
                                    </li>
                                </ul>

                                    {% with r.m_avan_meta|stringformat:"0.2f"|cut:"," as meta_valor %}
                                        <div class="bar-label">
                                            <h5 class="mb-0 pb-0">Avance de Meta</h5>
                                            <h5 class="mb-0 pb-0">{{ meta_valor }}%</h5>
                                        </div>
                                        <div class="bar-container">
                                            <div class="bar-blue" style="width:{{ meta_valor }}%"></div>
                                        </div>
                                    {% endwith %}

                                    <div class="bar-label">
                                        <h5 class="mb-0 pb-0">Situación de la Carga en Trámite</h5>
                                        <h5 class="mb-0 pb-0">{{ r.x_situacion_carga }}</h5>
                                    </div>

                                    <div class="bar-container">
                                        {% if r.x_situacion_carga == 'ESTANDAR' %}
                                            <div class="bar-yellow" style="width:50%"></div>
                                        {% elif r.x_situacion_carga == "SUBCARGA" %}
                                            <div class="bar-green" style="width:100%"></div>
                                        {% elif r.x_situacion_carga == "SOBRECARGA" %}
                                            <div class="bar-red" style="width:25%"></div>
                                        {% endif %}
                                    </div>

                                    <div class="bar-label">
                                        <h5 class="mb-0 pb-0">Nivel de Producción</h5>
                                        <h5 class="mb-0 pb-0">{{ r.x_niv_produc }}</h5>
                                    </div>

                                    <div class="bar-container">
                                        {% if r.x_niv_produc == "BUENO" %}
                                            <div class="bar-yellow" style="width:50%"></div>
                                        {% elif r.x_niv_produc == "MUY BUENO" %}
                                            <div class="bar-green" style="width:100%"></div>
                                        {% elif r.x_niv_produc == "BAJO" %}
                                            <div class="bar-red" style="width:25%"></div>
                                        {% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock  %}

{% block datatable %}
{% endblock  %}

{% block script %}
<script>
    $('#organo').change(function () {
        var org_id = $(this).val();
        if (!org_id) return;
        $.ajax({
            url: "{% url 'est:get_instancias_por_organo' %}",
            data: { org_id: org_id },
            success: function (data) {
                $('#instancia_1, #instancia_2').empty();
                data.forEach(function (i) {
                    const opt = `<option value="${i.id}">${i.nombre}</option>`;
                    $('#instancia_1').append(opt);
                    $('#instancia_2').append(opt);
                });
            }
        });
    });
</script>

{% endblock  %}
