{% extends "base/base.html" %}
{% load static %}

{% block title %}Módulos :: Estadistica{% endblock  %}
{% block title_nav %}Estadistica por Módulos{% endblock  %}

{% block body_container %}
<section class="content">
    <div class="container-xxl flex-grow-1 container-p-y pt-2">

        {% if perms.est.list_mae_est_modulos or perms.est.list_mov_est_modulo_usuarios %}        
        <div class="row ">
            {% for dato in dato %} 
                <div class="col-lg-3 col-sm-6 mb-3">
                    <a href="{% url 'est:descripcion_modulo' dato.n_id_modulo %}"  class="text-dark">
                        <div class="card card-border-shadow-dark h-100">
                            <div class="card-body p-4">
                            <img src="{% static "base/img/Icon/judicial_n.png" %}" class="img-fluid w-25 mx-auto d-block">
                                <h5 class="mb-0 text-center">{{dato.x_nombre}}</h5>
                            </div>
                        </div>
                    </a>
                </div>     
            {% endfor %}
        </div>
      {% endif %}
</section>
{% endblock  %}

{% block datatable %}
{% endblock  %}