{% extends "base/base.html" %}
{% load static %}
{% block title %} Asignar Instancia :: Estadistica {% endblock %}

{% block datatable_css %}
<link rel="stylesheet" href="{% static 'base/vendor/datatables/dt/datatables.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/datatables/responsive/responsive.bootstrap5.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/datatables/checkboxes/datatables.checkboxes.css' %} "/>
{% endblock  %}

{% block select_css %}
<link rel="stylesheet" href="{% static 'base/vendor/bootstrap-select/bootstrap-select.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/select2/select2.css' %}" />
<link rel="stylesheet" href="{% static 'base/vendor/form-validation/form-validation.css' %}" />
{% endblock  %}

{% block body_container %}
{% comment %} ==========================================
    MODAL PARA AGREGAR
========================================== {% endcomment %}
<div class="modal fade" id="createModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Nuevo Juez</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="createForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 mb-2">
                            <label for="id_n_instancia" class="form-label">Seleccionar Instancia:</label>
                            <select class="form-control select2" id="n_id_instancia" name="n_instancia">
                                {% for instancia in instancias %}
                                    <option value="{{ instancia.n_instancia_id }}">{{ instancia.x_nom_instancia }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Selector de Juez -->
                        <div class="col-12 mb-2">
                            <label for="id_n_id_juez" class="form-label">Seleccionar Juez:</label>
                            <select class="form-control select2" id="id_n_id_juez" name="n_id_juez">
                                {% for juez in jueces %}
                                    <option value="{{ juez.n_id_juez }}">
                                        {{ juez.usuario.x_app_paterno|upper }} {{ juez.usuario.x_app_materno|upper }} {{ juez.usuario.x_nombres|upper }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-12 mb-2">
                            <label for="id_n_id_juez_tipo" class="form-label">Número de Resolución:</label>
                            <input class="form-control" id="x_resolucion" name="x_resolucion" placeholder="Número de Resolución">
                        </div>

                        <div class="col-12 mb-2">
                            <label for="id_n_id_juez_tipo" class="form-label">Documento de Resolución:</label>
                            <input class="form-control" type="file" id="x_pdf_res" name="x_pdf_res"/>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-dark">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% comment %} ==========================================
    MODAL PARA ELIMINAR AL JUEZ
========================================== {% endcomment %}
<div class="modal fade" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Asginación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de que deseas eliminar esta asignación?</p>
                <form method="POST" id="deleteForm">
                    {% csrf_token %}
                    <input type="hidden" id="delete_id" name="delete_id">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12">
            <div class="row mt-2">
                <div class="col-xxl-8 col-xl-8 col-lg-6 col-md-12 col-sm-12 col-12 mb-2">
                    <div class="card">
                        <div class="d-flex align-items-end row">
                            <div class="col-7">
                                <div class="card-body">
                                    <h2 class="card-title mb-0 font-weight-bold">Asignación de Jueces</h2>
                                    <p class="mb-2">Sistema de Estadistica / Asignar Jueces a Instancias</p>
                                    <button class="btn btn-dark mt-3" data-bs-toggle="modal" data-bs-target="#createModal">
                                        Asignar Juez
                                    </button>
                                </div>
                            </div>

                            <div class="col-5 text-end">
                                <div class="card-body pb-0">
                                <img
                                    src="{% static "base/img/Svg/juez.svg" %}"
                                    class="img-fluid w-50"
                                    alt="view sales"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="card h-100">
                        <div class="card-body pt-5 mb-0 pb-0 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                            <h5 class="mb-0 mt-3">Activos</h5>
                            <h4 class="font-weight-bold card-title mb-0">{{ count_femenino }}</h4>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6">
                    <div class="card h-100">
                        <div class="card-body pt-5 mb-0 pb-0 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
                            <h5 class="mb-0 mt-3">Inactivos</h5>
                            <h4 class="font-weight-bold card-title mb-0">{{ count_femenino }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Users List Table -->
            <div class="card mt-3">
                <div class="card-datatable table-responsive">
                    <table class="datatables-users table" id="tableUsuario">
                        <thead class="border-top bg-dark">
                        <tr>
                            <th class="text-center text-white" style="font-size:14px">#</th>
                            <th class="text-center text-white" style="font-size:14px">NOMBRE DE JUEZ</th>
                            <th class="text-center text-white" style="font-size:14px">Organo Juridiccional</th>
                            <th class="text-center text-white" style="font-size:14px">ESTADO</th>
                            <th class="text-center text-white" style="font-size:14px">RESOLUCIÓN</th>
                            <th class="text-center text-white" style="font-size:14px">OPCIONES</th>
                        </tr>
                        </thead>

                        <tbody>
                            {% for asignacion in datos %}
                                <tr>
                                    <td style="font-size:14px">{{forloop.counter}}</td>
                                    <td style="font-size:14px">
                                        {{ asignacion.n_id_juez.usuario.x_app_paterno|upper }}
                                        {{ asignacion.n_id_juez.usuario.x_app_materno|upper }}
                                        {{ asignacion.n_id_juez.usuario.x_nombres|upper }}
                                    </td>
                                    <td style="font-size:14px">{{ asignacion.n_instancia.x_nom_instancia }}</td>
                                    <td class="text-center">
                                        {% if asignacion.l_activo == "S" %}
                                            <span class="badge bg-success">Activo</span>
                                        {% else %}
                                            <span class="badge bg-danger">Inactivo</span>
                                        {% endif %}
                                    </td>
                                    <td style="font-size:14px">{{ asignacion.x_resolucion }}</td>
                                    <td>
                                    <div class="btn-group">
                                        {% if asignacion.x_pdf_res %}
                                            <a href="{{ asignacion.x_pdf_res.url }}" class="btn btn-dark" target="_blank">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 640 640"><path fill="currentColor" d="M192 64C156.7 64 128 92.7 128 128L128 512C128 547.3 156.7 576 192 576L448 576C483.3 576 512 547.3 512 512L512 234.5C512 217.5 505.3 201.2 493.3 189.2L386.7 82.7C374.7 70.7 358.5 64 341.5 64L192 64zM453.5 240L360 240C346.7 240 336 229.3 336 216L336 122.5L453.5 240z"/></svg>
                                            </a>
                                        {% else %}
                                            No disponible
                                        {% endif %}

                                        <button class="btn btn-danger" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#deleteModal" 
                                                data-id="{{ asignacion.n_id_instancia_juez }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 448 512"><path fill="currentColor" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z"/></svg>
                                        </button>
                                    </div>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="5" class="text-center">No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block datatable_js %}
<script src="{% static 'base/vendor/datatables5/datatables-bootstrap5.js' %}"></script>
{% endblock %}

{% block datatable %}
<script>
    $(document).ready(function () {
        $('#tableUsuario').DataTable({
            "pageLength": 15,
            "lengthMenu": [[15, 30, 50, 100, -1], [15, 30, 50, 100, "Todos"]],
            ordering: true,
            autoWidth: true,
            responsive: true,
            dom: '<"row mb-3"<"col-md-3"l><"col-md-6 text-center"B><"col-md-3"f>>t<"row"<"col-md-6"i><"col-md-6"p>>',
            buttons: [
                {
                    extend: 'collection',
                    text: '<i class="fa fa-download"></i> Exportar Tabla',
                    className: 'btn btn-danger mt-6',
                    buttons: [
                        { extend: 'print', text: '<i class="fa fa-print"></i> Imprimir' },
                        { extend: 'csv', text: '<i class="fa fa-file-csv"></i> Archivo CSV' },
                        { extend: 'excel', text: '<i class="fa fa-file-excel"></i> Archivo Excel' },
                        { extend: 'pdf', text: '<i class="fa fa-file-pdf"></i> Archivo PDF' },
                        { extend: 'copy', text: '<i class="fa fa-copy"></i> Copiar' }
                    ]
                }
            ],
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sSearch": "Buscar:",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
        });
    });
</script>
{% endblock  %}

{% block form_js %}
<script src="{% static 'base/vendor/bootstrap-select/bootstrap-select.js' %}"></script>
<script src="{% static 'base/vendor/select2/select2.js' %}"></script>
<script src="{% static 'base/vendor/form-validation/popular.js' %}"></script>
<script src="{% static 'base/vendor/form-validation/bootstrap5.js' %}"></script>
<script src="{% static 'base/vendor/form-validation/auto-focus.js' %}"></script>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    // Inicializa select2 para el modal de creación
    $('#createModal .select2').select2({
      width: '100%',
      dropdownParent: $('#createModal')
    });
  });
</script>

<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + "=") {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie("csrftoken");
    
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": csrftoken,
        },
    });    


    $("#createForm").submit(function (e) {
        e.preventDefault();
        let formData = new FormData(this);
        $.ajax({
            type: 'POST',
            url: "{% url 'est:juez_instancia_crear' %}",
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response.success) {
                    alert(response.message);
                    location.reload();
                } else {
                    alert('Error al guardar. Verifique los datos.');
                }
            },
            error: function(xhr) {
                alert('Error en el servidor.');
            }
        });
    });

    // Eliminar módulo
    $("#deleteModal").on("show.bs.modal", function (event) {
        const button = $(event.relatedTarget);
        const id = button.data("id");
        $("#delete_id").val(id);
    });
    
    $("#deleteForm").submit(function (e) {
        e.preventDefault();
        const id = $("#delete_id").val();
        $.ajax({
            url: `../../est/JuezInstancia/Eliminar/${id}/`,
            method: "POST",
            success: function (response) {
                if (response.success) {
                    location.reload();
                }
            },
        });
    });
</script>
{% endblock  %}
