{% extends "base/base.html" %}
{% load static %}

{% block title %} Nivel de Productividad {% endblock %}
{% block title_nav %} Rendimiento del Juzgado{% endblock  %}

{% block grafico_css %}
<link rel="stylesheet" href="{% static 'base/vendor/apex-charts/apex-charts.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock  %}

{% block body_container %}
<div class="container mt-5">
    <div class="row mt-5">


        {% if resumenes %}
            {% for resumen in resumenes %}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card-body pb-0">
                        <h5 class="card-title"></h5>
                        <div class="row">
                            <div class="col-12">

                                <h3 class="font-weight-bold text-center">{{ resumen.instancia }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-12 mb-3">
                                <div class="card {% if resumen.nivel_produc == "MUY BUENO" %}card-border-shadow-success{% elif resumen.nivel_produc == 'BUENO' %}card-border-shadow-warning{% else %}card-border-shadow-danger{% endif %}">
                                    <div class="d-flex align-items-center row">
                                        <div class="col-12 text-center">
                                            <div class="card-body mt-0 text-nowrap">
                                                <div class="bg-label-dark rounded text-center mb-4 pt-4">
                                                    {% if resumen.nivel_produc == "MUY BUENO" %}
                                                    <img src="{% static "base/img/images/medalla_oro.png" %}" alt="Card girl image" class="img-fluid w-75" />
                                                    {% elif resumen.nivel_produc == "BUENO" %}
                                                    <img src="{% static "base/img/images/medalla_plata.png" %}" alt="Card girl image" class="img-fluid w-75" />
                                                    {% else %}
                                                    <img src="{% static "base/img/images/medalla_bronce.png" %}" alt="Card girl image" class="img-fluid w-75" />
                                                    {% endif %}
                                                </div>
                                                <h5 class="mb-2">NIVEL DE PRODUCTIVIDAD</h5>
                                                <h4 class="mb-0 pb-1">
                                                <span class="badge
                                                        {% if resumen.nivel_produc == "MUY BUENO" %}bg-success
                                                        {% elif resumen.nivel_produc == 'BUENO' %}bg-warning text-dark
                                                        {% else %}bg-danger{% endif %}">
                                                        {{ resumen.nivel_produc }}
                                                        </span>
                                                </h4>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-12 mb-3">
                                <div class="card h-100">
                                <div class="card-header text-center pb-1">
                                    <h4 class="font-weight-bold mb-1">Indicador de Expedientes Resueltos (IER)</h4>
                                </div>
                                <div class="card-body text-center">
                                    {% if resumen.IER >= 90 %}
                                        <img src="{% static 'base/img/Svg/subcarga.svg' %}" height="100" alt="medalla" class="pb-3">
                                        {% elif resumen.IER >= 50 %}
                                        <img src="{% static 'base/img/Svg/estandar.svg' %}" height="100" alt="medalla" class="pb-3">
                                        {% else %}
                                        <img src="{% static 'base/img/Svg/sobrecarga.svg' %}" height="100" alt="medalla" class="pb-3">
                                    {% endif %}
                                    <h4><span class="badge 
                                    {% if resumen.IER >= 90 %}bg-success
                                    {% elif resumen.IER >= 50 %}bg-warning text-dark
                                    {% else %}bg-danger{% endif %}">
                                    {{ resumen.IER }}%
                                    </span></h4>
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#modalEstandar" class="mt-0 pt-2 text-center">Más Información</a>
                                </div>
                                </div>
                            </div>

                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-12 mb-3">
                                <div class="card h-100">
                                <div class="card-header pb-1 text-center">
                                    <h4 class="font-weight-bold mb-1">Situación <br> Carga de Trámite</h4>
                                </div>
                                <div class="card-body text-center">
                                    
                                        {% if resumen.situacion_carga == "SUBCARGA" %}
                                        <img src="{% static "base/img/Svg/verde_subcarga.svg" %}" height="100" alt="medalla" class="pb-3">
                                        {% elif resumen.situacion_carga == "ESTANDAR" %}
                                        <img src="{% static "base/img/Svg/ama_estandar.svg" %}" height="100" alt="medalla" class="pb-3">
                                        {% else %}
                                        <img src="{% static "base/img/Svg/rojo_sobrecarga.svg" %}" height="100" alt="medalla" class="pb-3">
                                        {% endif %}
                                    <h4>
                                    <span class="badge 
                                        {% if resumen.situacion_carga == "SUBCARGA" %}bg-success
                                        {% elif resumen.situacion_carga == 'ESTANDAR' %}bg-warning text-dark
                                        {% else %}bg-danger{% endif %}">
                                        {{ resumen.situacion_carga }}
                                    </span>
                                    </h4>
                                    <a data-bs-toggle="modal"
                                        data-bs-target="#modalEstandar" class="mt-0 pt-2 text-center">Más Información</a>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% comment %} *************************************************************
                            INFORMACION DE METAS Y AVANCE
                            ********************************************************** {% endcomment %}
                            <div class="col-xxl-4 col-lg-12 col-md-6 col-sm-12">
                                <div class="card mt-2">
                                    <div class="card-header">
                                    <h5 class="card-tittle font-weight-bold p-0 m-0">METAS Y AVANCE</h5>
                                    </div>
            
                                    <div class="card-body pb-0">
                                        <div class="row">
                                            <div class="col-xxl-12 col-lg-12 col-md-12 mb-0 mt-3 pr-3 mb-5">
                                                <ul class="p-0 m-0">
                                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-star ti-md"></i></div>
                                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                                        <h5 class="mb-0 ms-4">Estándar de Producción</h5>
                                                        <div class="d-flex">
                                                        <h5 class="mb-0">{{resumen.produccion}}</h5>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-target-arrow ti-md"></i></div>
                                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                                        <h5 class="mb-0 ms-4">Meta Proyectada</h5>
                                                        <div class="d-flex">
                                                        <h5 class="mb-0">{{resumen.meta_preliminar}}</h5>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-books ti-md"></i></div>
                                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                                        <h5 class="mb-0 ms-4">Carga Inicial (01-Ene-2025)</h5>
                                                        <div class="d-flex">
                                                        <h5 class="mb-0">{{resumen.carga_inicial}}</h5>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file ti-md"></i></div>
                                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                                        <h5 class="mb-0 ms-4">Expedientes Ingresados Totales</h5>
                                                        <div class="d-flex">
                                                        <h5 class="mb-0">{{resumen.ingresos}}</h5>
                                                        </div>
                                                    </div>
                                                    </li>
                                                    <li class="mb-6 d-flex justify-content-between align-items-center">
                                                    <div class="badge bg-label-dark rounded p-1_5"><i class="ti ti-file-check ti-md"></i></div>
                                                    <div class="d-flex justify-content-between w-100 flex-wrap">
                                                        <h5 class="mb-0 ms-4">Expedientes Resueltos Totales</h5>
                                                        <div class="d-flex">
                                                        <h5 class="mb-0">{{resumen.resueltos}}</h5>
                                                        </div>
                                                    </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>

                            {% comment %} *************************************************************
                            AVANCE DE META | GRAFICO CIRCULAR
                            ********************************************************** {% endcomment %}
                            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="card mt-2">
                                    <div class="card-header">
                                        <h5 class="card-tittle font-weight-bold p-0 m-0">AVANCE DE META</h5>
                                    </div>

                                    <div class="card-body pb-0">
                                        <div id="grafico-media-luna-{{ forloop.counter }}" style="width: 100%; height: 250px;"></div>

                                        <!-- Porcentaje debajo del gráfico -->
                                        <div class="text-center mt-2">
                                            <div style="font-size: 26px; font-weight: bold;">{{ resumen.avance_meta|floatformat:2 }}%</div>
                                        </div>

                                        <h6 class="text-center mt-1">🚩Meta Ideal: {{ resumen.ideal_meta|floatformat:2 }}%</h6>
                                    </div>
                                </div>
                            </div>

                            {% comment %} *************************************************************
                            GRAFICO DE BARRAS DE INGRESADOS VS RESUELTOS
                            ********************************************************** {% endcomment %}
                            <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12">
                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5 class="card-tittle font-weight-bold p-0 m-0">INGRESADOS VS RESUELTOS</h5>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="grafico-barra-{{ forloop.counter }}" style="width: 100%; height: 300px;"></canvas>
                                    </div>
                                </div>
                            </div>

                            {% comment %} *************************************************************
                            EVOLUCION MENSUAL DE EXPEDIENTE INGRESADOS Y RESUELTOS
                            ********************************************************** {% endcomment %}
                            <div class="col-xxl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="card mt-3">
                                    <div class="card-header">
                                        <h5 class="card-tittle font-weight-bold p-0 m-0">EVOLUCIÓN MENSUAL</h5>
                                    </div>
                                    <div class="card-body">
                                        <div id="grafico-linea-{{ forloop.counter }}" style="width: 100%; height: 300px;"></div>
                                    </div>
                                </div>
                            </div>

                            {% comment %} *************************************************************
                            EVOLUCION MENSUAL DE EXPEDIENTE INGRESADOS Y RESUELTOS
                            ********************************************************** {% endcomment %}
                            <div class="col-12 mt-4 mb-5">
                                <div class="card">
                                    <div class="card-header"><h5 class="card-title">RESUMEN MENSUAL - {{ resumen.instancia }}</h5></div>
                                    <div class="card-body table-responsive">
                                        <table class="table table-bordered">
                                        <thead class="bg-dark">
                                            <tr>
                                            <th class="text-white text-center">MES</th>
                                            <th class="text-white text-center">ENE</th>
                                            <th class="text-white text-center">FEB</th>
                                            <th class="text-white text-center">MAR</th>
                                            <th class="text-white text-center">ABR</th>
                                            <th class="text-white text-center">MAY</th>
                                            <th class="text-white text-center">JUN</th>
                                            <th class="text-white text-center">JUL</th>
                                            <th class="text-white text-center">AGO</th>
                                            <th class="text-white text-center">SET</th>
                                            <th class="text-white text-center">OCT</th>
                                            <th class="text-white text-center">NOV</th>
                                            <th class="text-white text-center">DIC</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>Ingresos</td>{% for val in resumen.series_line.ingresos %}<td class="text-center">{{ val }}</td>{% endfor %}</tr>
                                            <tr><td>Resueltos</td>{% for val in resumen.series_line.resueltos %}<td class="text-center">{{ val }}</td>{% endfor %}</tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-muted">No hay datos disponibles para el día anterior.</p>
        {% endif %}
    </div>
    

</div>
{% endblock %}

{% block grafico_js %}
<script src="{% static 'base/vendor/apex-charts/apexcharts.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.3.1/decimal.min.js"></script>
<script src="{% static 'base/js/charts-chartjs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const resumenes = {{ resumenes_json|safe }};
        const meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Set', 'Oct', 'Nov', 'Dic'];

        resumenes.forEach((resumen, index) => {
            const idx = index + 1;

            /*************** GRAFICO CRICULAR (Gauge) ***************/
            const avance = parseFloat(resumen.avance_meta.toFixed(2));
            const ideal = parseFloat(resumen.ideal_meta.toFixed(2));
            const color = avance >= ideal ? '#28a745' : '#dc3545';

            const chartRadial = echarts.init(document.getElementById('grafico-media-luna-' + idx));
            chartRadial.setOption({
                series: [{
                    type: 'gauge',
                    startAngle: 90,
                    endAngle: -270,
                    center: ['50%', '50%'],
                    radius: '100%',
                    min: 0,
                    max: 100,
                    progress: {
                        show: true,
                        width: 45,
                        itemStyle: {
                            color: color
                        }
                    },
                    axisLine: {
                        lineStyle: {
                            width: 45,
                            color: [[1, '#f0f0f0']]
                        }
                    },
                    axisTick: { show: false },
                    splitLine: { show: false },
                    axisLabel: { show: false },
                    pointer: { show: false },
                    anchor: { show: false },
                    detail: {
                        show: false
                    },
                    data: [{ value: avance }]
                }]
            });

            /*************** GRAFICO DE BARRAS (Chart.js) ***************/
            const ctx = document.getElementById('grafico-barra-' + idx).getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ['Exp. Ingresados', 'Exp. Resueltos'],
                    datasets: [{
                        label: 'Expedientes',
                        data: [resumen.ingresos, resumen.resueltos],
                        backgroundColor: ['#d20030', '#28a745']
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    indexAxis: 'y',
                    plugins: {
                        legend: { display: false },
                        datalabels: {
                            anchor: 'center',
                            align: 'center',
                            color: '#fff',
                            font: {
                                weight: 'bold',
                                size: 18
                            },
                            formatter: function (value) {
                                return value;
                            }
                        }
                    },
                    scales: {
                        x: {
                            beginAtZero: true
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });

            /*************** GRAFICO DE LINEAS (ECHARTS) ***************/
            const chartDom = document.getElementById('grafico-linea-' + idx);
            if (chartDom) {
                const myChart = echarts.init(chartDom);
                const option = {
                    tooltip: { trigger: 'axis' },
                    legend: { data: ['Expedientes Ingresados', 'Expedientes Resueltos'] },
                    toolbox: { feature: { saveAsImage: {} } },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'category',
                        data: meses
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: 'Expedientes Ingresados',
                            type: 'line',
                            data: resumen.series_line.ingresos,
                            itemStyle: {
                                color: '#d20030'
                            },
                            lineStyle: {
                                color: '#d20030'
                            }
                        },
                        {
                            name: 'Expedientes Resueltos',
                            type: 'line',
                            data: resumen.series_line.resueltos,
                            itemStyle: {
                                color: '#28a745'
                            },
                            lineStyle: {
                                color: '#28a745' 
                            } 
                        }
                    ]
                };
                myChart.setOption(option);
                window.addEventListener('resize', () => myChart.resize());
            }
        });
    });
</script>
{% endblock %}
